<%= provide :title, 'Result' %>
<h1>
  <span><%= @category.name %></span>
  Result <span><%= "#{@lesson.count_correct}/#{@lesson.results.count}" %></span>
</h1>
<input type="hidden" value="<%= params[:check] %>" id="page"/>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Result</th>
        <th>Word</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <% @lesson.results.each do |result| %>
        <tr>
          <td>
            <% if result.word.answers.find_by(status: true) == result.answer %>
              <span class="glyphicon glyphicon-ok"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
          <td><%= result.word.body %></td>
          <td>
            <%= result.word.answers.find_by(status: true).body %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>